* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	overflow-x: hidden;
}

#header {
	display: flex;
	align-items: center;
	padding-left: 30px;
	padding-top: 20px;
}

.navItems {
	margin-left: 10vw;
}

.navItems-item {
	font-weight: 500;
	font-size: 1.8rem;
	margin-right: 2vw;
	padding-bottom: 5px;
	transition: ease-in-out 0.2s;
	color: rgb(138, 134, 196);
	cursor: pointer;
	text-shadow: 0px 0px 1px rgb(255, 255, 255);
}

.navItems-item:hover {
	color: rgb(134, 0, 134);
	text-shadow: 0px 0px 1px rgb(212, 13, 212);
}

.theLogo {
	transition: ease-in-out 0.2s;
}

.theLogo:hover {
	-webkit-filter: drop-shadow(1px 1px 0 white)
                  drop-shadow(-1px -1px 0 white);
  filter: drop-shadow(0px -1px 1px white) 
          drop-shadow(0px -1px 1px white);
	cursor: pointer;
}

footer {
	outline: 2px solid rgba(0, 0, 0, 0.459);
	filter: drop-shadow(0px -2px 2px black);
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100vw;
	height: 60px;
	background-color: rgb(255, 255, 255, 0.02);
	backdrop-filter: blur(10px);
	display: flex;
	align-items: center;
}

.licenceText {
	color: white;
	font-size: 1.2rem;
	margin-left: 35px;
	width: 60%;
}

a {
	color: rgb(255, 0, 255);
	text-decoration: none;
}

marquee {
	width: 40%;
	margin-right: 35px;
	font-size: 2rem;
	color: white;
}